.paddock-label {
  /* background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: white !important;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 1px 1px 2px black; */
  padding: 0 4px !important;
}
/* Ẩn mũi tên tam giác nhỏ của tooltip */
.paddock-label:before {
  display: none;
}
